<!DOCTYPE html>
<html>
<head>
<link href='{{ root }}/static/style.css' media='screen' rel='stylesheet' type='text/css'>
<meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
<title>{{ title }}</title>
<style>
div.float-left {
  float: left;
  margin-bottom: 1em;
  width: 280px;
}
div.clear-left {
  clear: left;
}
</style>
</head>
<body>
<h1>{{ title }}</h1>
{% for sec in sections %}

<div class='float-left'>
<h2>{{ sec.hdr }}</h2>
<ul class='flat'>
{% for ln in sec.links %}
<li><a href='{{ ln.url }}'>{{ ln.name }}</a></li>
{% endfor %}
</ul>
</div>
{% if loop.index is divisibleby 3 %}<div class='clear-left'></div>{% endif %}
{% endfor %}

</body>
</html>{# vi: set ft=htmldjango: #}
