html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  border:0;
  padding:0;
  margin:0;
}

body {
  background-color: #fff;
  font: 13px Helvetica, Arial, freesans, clean, sans-serif;
  line-height: 1.4;
  color: #222;
  width: 900px;
  margin: 20px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 20px 0 10px;
  padding: 0;
  font-weight: bold;
}

p, blockquote, ul, ol, dl, table, pre {
  margin: 15px 0;
}

